/* pages/homepage.module.scss */

.homepage {
  padding: 4rem 1rem;
  text-align: center;

  color: rgb(48, 64, 64);
  background-color: rgb(144, 231, 255);
  background-image: radial-gradient(
      at 89% 81%,
      rgb(256, 217, 120) 0px,
      transparent 50%
    ),
    radial-gradient(at 2% 88%, rgb(143, 228, 115) 0px, transparent 50%),
    radial-gradient(at 88% 8%, rgb(231, 112, 213) 0px, transparent 50%),
    radial-gradient(at 25% 4%, rgb(239, 165, 96) 0px, transparent 50%);
}
