/* footer.module.css */

.footer {
  border-top: 0.88px solid rgb(215, 222, 228);
  text-align: center;

  p {
    font-size: 0.875rem;
  }
  ul {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
  }
  nav {
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
  p {
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
