/* header.scss */

header {
  border-bottom: 0.88px solid rgb(215, 222, 228);

  .container {
    display: flex;
    justify-content: space-between;
  }
  nav {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
