/* header.scss */

header {
  border-bottom: 0.88px solid rgb(215, 222, 228);

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      @media (max-width: 480px) {
        display: flex;
        gap: 1rem;
        position: absolute;
        right: 0;
        bottom: -88dvh;
        height: 88dvh;
        padding: 1rem 1.5rem;
        background-color: white;
        flex-direction: column;
        min-width: 48%;
        max-width: 96%;

        transform: rotateY(90deg);
        transform-origin: right;

        transition: transform 0.25s;
      }
    }
    input#toggle[style] {
      & ~ label {
        display: block;

        &::before {
          @media (max-width: 480px) {
            display: block;
            content: '☰';
            font-size: 1.25rem;
            height: 1.5rem;
            width: 1.5rem;
            text-align: center;

            transform: rotate(0deg);
            transition: transform 0.25s ease-out;
          }
        }
      }
      &:checked {
        @media (max-width: 480px) {
        }
        & ~ ul {
          @media (max-width: 480px) {
            transform: rotateY(0deg);
          }
        }
        & ~ label::before {
          @media (max-width: 480px) {
            content: '⨉';
            transform: rotate(90deg);
            line-height: 1.25rem;
          }
        }
      }
    }
  }
  .logo svg {
    max-height: 2rem;
    width: auto;
  }
}
