.button {
  display: inline-block;
  border-radius: 0.25rem;
  background-color: rgb(216, 225, 230);
  padding: 0.75rem 1.25rem;
  line-height: 1rem;

  transition: background-color 0.2s;

  &:hover {
    background-color: rgb(212, 212, 223);
  }
}
